html 
head 
body 
    h1 Become a Member! 
    form(action="/becomemember", method="POST")
        label(for="passcode") Enter the secret Passcode!
        br 
        input(type="text", name="passcode", placeholder="Enter secret passcode...", id="passcode")
        br
        Button Submit