html 
head 
body 
    h1 Login! 
    form(action="/login", method="POST")
        label(for="email") Enter your Email
        br 
        input(type="email", name="username", placeholder="Enter your email id...", id="email")
        br
        label(for="pw") Enter your password
        br
        input(type="password", name="password", placeholder="Enter password...", id="pw")
        br
        Button Submit